@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    body {
        @apply font-sans antialiased text-gray-900 bg-gray-50;
        font-family: 'Inter', sans-serif;
    }
}

/* Custom Scrollbar for Webkit */
::-webkit-scrollbar {
    width: 8px;
    height: 8px;
}

::-webkit-scrollbar-track {
    background: transparent;
}

::-webkit-scrollbar-thumb {
    @apply bg-gray-200 rounded-full;
}

::-webkit-scrollbar-thumb:hover {
    @apply bg-gray-300;
}